.status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 13px;
    box-sizing: border-box;
}
.status-bar__column>span {
    font-size: 12px;
}
.status-bar__column:first-child {
    top: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}